@model Guid

@{
    ViewData["Title"] = "Finish Quiz";
}

<div class="row">
    <div class="col-md-4">
        <h3>Quiz Report</h3>
        <hr />
        <p>Would you like to view a report?</p>
        <a href=@Html.Raw("/Quiz/QuizReport/" + Model) class="btn btn-secondary">View Report</a>
        <a href="/Quiz" class="btn btn-primary">Back to quizes</a>
    </div>
</div>

