@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4"
         src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/Blue_computer_icon.svg/2048px-Blue_computer_icon.svg.png"
         alt=""
         width="72"
         height="57" />
    <h1 class="display-5 fw-bold">Welcome</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Quickly learn everything you need to know about choosing components
            for your new computer. Resources are available for every single
            component. After finishing with every quiz, you will be able to
            build you perfect computer!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/Course" class="btn btn-primary btn-lg px-4 gap-3">
                Get Started
            </a>
        </div>
    </div>
</div>
